#confirm {
  text-align: center;
  display: none;
}
h3 {
  text-align: center;
}
h1 {
  text-align: center;
}

button {
  margin-top: 10px;
}
#outputJumbo {
  display: none;
}
#output{
  display: none;
  text-align: center;
}
#show-movie {
  display: none;
  text-align: center;
}

.output {
  cursor: pointer;
  color: #0088cc;
}

.output:hover {
  text-decoration: underline;
}

h4 {
  display: none;
}

h2  {
  display: none;
}
p {
  text-align: center;
  font-size: 12pt;

}
ul {
  margin-left: 400px;
}
body {
  background-color: grey;
}

.jumbotron {
  background-color: #bbb999
}
